<!DOCTYPE html>

<html lang="en">
<!-- This project is based on "C$50 Finance" -->
<!-- Some lines of code in this file are taken directly from "C$50" Finance Project -->
<!-- https://docs.cs50.net/2017/ap/problems/finance/finance.html -->


    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

        <!-- documentation at http://getbootstrap.com/docs/4.0/, alternative themes at https://bootswatch.com/4-alpha/ -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet"/>
        <link href="/static/styles.css" rel="stylesheet"/>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>

        <title>Personal Trip Planner {% block title %}{% endblock %}</title>

    </head>

    <body>

        <nav class="navbar navbar-expand-md navbar-light bg-light border">
            <a class="navbar-brand" href="/"><span class="blue">Personal</span> <span class="yellow">Trip</span> <span class="red">Planner</span></a>
            <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav mr-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/flight">Flights</a></li>
                        <li class="nav-item"><a class="nav-link" href="/train">Trains</a></li>
                        <li class="nav-item"><a class="nav-link" href="/hotel">Hotels</a></li>
                        <li class="nav-item"><a class="nav-link" href="/allowance">Allowance</a></li>
                        <li class="nav-item"><a class="nav-link" href="/expenses">Expenses</a></li>
                        <li class="nav-item"><a class="nav-link" href="/expensehistory">Expense History</a></li>
                        <li class="nav-item"><a class="nav-link" href="/delete">Remove Items</a></li>
                    </ul>
            </div>
        </nav>

        <main class="container p-5">
            {% block main %}{% endblock %}
        </main>

    </body>

</html>
